<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<body>
	<section layout:fragment="content">
		<div class="content-wrapper">
			<!-- 			<div class="row" id="proBanner">
				<div class="col-12">
					<span class="d-flex align-items-center purchase-popup pb-0">
						<a href="#" target="_blank"
						class="btn download-button purchase-button ml-auto">Add New
							Project</a>
					</span>
				</div>
			</div> -->

			<div class="page-header">
				<h3 class="page-title">
					<span class="page-title-icon bg-gradient-info text-white mr-2">
						<i class="mdi mdi-home"></i>
					</span> Agents
				</h3>

			</div>


			<div class="row">
				<div class="col-12 grid-margin">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table id="example" class="table table-striped table-bordered"
									style="width: 100%">
									<thead>
										<tr>
											<th>ID</th>
											<th>Bot Agent ID</th>
											<th>Host Name</th>
											<th>Host IP Address</th>
											<th>Last Updated Date Time</th>
											<th>Status</th>
											<th>Reset Flags</th>
											</tr>
									</thead>
									<tbody>
										<tr th:each="job : ${responseList}">
											<td><span th:text="${job.sno}">SNO</span></td>
											<td><span th:text="${job.agentId}">ID</span></td>
											<td><span th:text="${job.agentName}">Name</span></td>
											<td><span th:text="${job.ipaddress}">IP address</span></td>
											<td><span th:text="${job.lastUpdatedTimestamp}">last updated date time</span></td>
											<td th:text="${job.status}" th:class="${job.status == 'Active' ? 'alert alert-success' : 'alert alert-danger' }"> status </td>
											<td><a href="#" th:attr="onclick=|updateAgent('${job.agentId}')|" >Reset</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>