<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<body>
	<section layout:fragment="content">
		<div class="content-wrapper">

			<div class="page-header">
				<h3 class="page-title">
					<span class="page-title-icon bg-gradient-info text-white mr-2">
						<i class="mdi mdi-home"></i>
					</span> Home
				</h3>

			</div>
			
			<div class="row">
              <div class="col-md-4 pr-0 stretch-card grid-margin">
                <div class="card bg-info  card-img-holder text-white">
                  <div class="card-body">
                    <img src="../static/assets/images/dashboard/circle.svg" th:src="@{/assets/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3"><a th:href="@{/ui/projectDetails}"><spam style="color:#fff">Project Name 01</spam></a> <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                    </h4>
                    <h6 class="card-text">Project description will be show here</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-4 pr-0  stretch-card grid-margin">
                <div class="card bg-info card-img-holder text-white">
                  <div class="card-body">
                    <img src="../static/assets/images/dashboard/circle.svg" th:src="@{/assets/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3"><a th:href="@{/ui/projectDetails}"><spam style="color:#fff">Project Name 02</spam></a> <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h6 class="card-text">Project description will be show here</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-4 pr-0  stretch-card grid-margin">
                <div class="card bg-info card-img-holder text-white">
                  <div class="card-body">
                    <img src="../static/assets/images/dashboard/circle.svg" th:src="@{/assets/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3"><a th:href="@{/ui/projectDetails}"><spam style="color:#fff">Project Name 03</spam></a> <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h6 class="card-text">Project description will be show here</h6>
                  </div>
                </div>
              </div>
              </div>
              
              <div class="row">
              <div class="col-md-4 pr-0  stretch-card grid-margin">
                <div class="card bg-info card-img-holder text-white">
                  <div class="card-body">
                   <img src="../static/assets/images/dashboard/circle.svg" th:src="@{/assets/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3"><a th:href="@{/ui/projectDetails}"><spam style="color:#fff">Project Name 04</spam></a> <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h6 class="card-text">Project description will be show here</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-4 pr-0  stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                  <div class="card-body">
                    <img src="../static/assets/images/dashboard/circle.svg" th:src="@{/assets/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3"><a th:href="@{/ui/projectDetails}"><spam style="color:#fff">Project Name 05</spam></a> <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h6 class="card-text">Project description will be show here</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-4 pr-0  stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                  <div class="card-body">
                    <img src="../static/assets/images/dashboard/circle.svg" th:src="@{/assets/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3"><a th:href="@{/ui/projectDetails}"><spam style="color:#fff">Project Name 06</spam></a> <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h6 class="card-text">Project description will be show here</h6>
                  </div>
                </div>
              </div>
            </div>
            
                          <div class="row">
              <div class="col-md-4 pr-0  stretch-card grid-margin">
                <div class="card bg-info card-img-holder text-white">
                  <div class="card-body">
                   <img src="../static/assets/images/dashboard/circle.svg" th:src="@{/assets/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3"><a th:href="@{/ui/projectDetails}"><spam style="color:#fff">Project Name 07</spam></a> <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h6 class="card-text">Project description will be show here</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-4 pr-0  stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                  <div class="card-body">
                    <img src="../static/assets/images/dashboard/circle.svg" th:src="@{/assets/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3"><a th:href="@{/ui/projectDetails}"><spam style="color:#fff">Project Name 08</spam></a> <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h6 class="card-text">Project description will be show here</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-4 pr-0  stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                  <div class="card-body">
                    <img src="../static/assets/images/dashboard/circle.svg" th:src="@{/assets/images/dashboard/circle.svg}" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3"><a th:href="@{/ui/projectDetails}"><spam style="color:#fff">Project Name 09</spam></a><i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h6 class="card-text">Project description will be show here</h6>
                  </div>
                </div>
              </div>
            </div>
		</div>
	</section>
</body>
</html>