<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<body>
	<section layout:fragment="content">
		<div class="content-wrapper">

			<div class="page-header">
				<h3 class="page-title">
					<span class="page-title-icon bg-gradient-info text-white mr-2">
						<i class="mdi mdi-home"></i>
					</span> Project Details
				</h3>

			</div>
			
			<div class="row">
             
                 
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Project 01</h4>
                    
                    <p> It is a long  fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution </p>
                  </div>
                </div>
              </div>
		</div>
		</div>
	</section>
</body>
</html>