@charset "utf-8";
/* CSS Document */



.about-info {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: #080c3c url(https://storage-static.testproject.io/logos/tp-auth-bg.jpg) no-repeat center top;
    height: 100%;
    background-size: cover;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

.about-info{
	flex: 1;
    min-width: 0;
    min-height: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
	}
.about-tagline {
	margin: 50px 0;
    display: flex;
    flex-direction: column;
	margin: auto 0;
	}
 .pd-com-title {
    font-size: 40px;
    line-height: 54px;
	}
.pd-com-sub-title {
    font-size: 25px;
}
.pd-com-sub-2-title {
    font-size: 18px;
	line-height:24px
}

.navbar-top .navbar-nav .nav-item .nav-link{ height:50px !important; padding:0px;}
.navbar-nav .active>.nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-nav .show>.nav-link {
    color: rgb(48 255 237) !important;
}







/* header-menu */

.header-menu {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header-menu li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header-menu li a:hover,
.header-menu .menu-btn:hover {
  background-color: #f4f4f4;
}

.header-menu .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header-menu .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header-menu .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header-menu .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header-menu .menu-icon .navicon:before,
.header-menu .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header-menu .menu-icon .navicon:before {
  top: 5px;
}

.header-menu .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header-menu .menu-btn {
  display: none;
}

.header-menu .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header-menu .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header-menu .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header-menu .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.creat-new-script {
	text-align: right;
    margin-bottom: 10px;
}


/* 48em = 768px */

@media (min-width: 48em) {
  .header-menu li {
    float: left;
  }
  .header-menu li a {
    padding: 20px 30px;
  }
  .header-menu .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header-menu .menu-icon {
    display: none;
  }
}






















